<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CryptoCoin ガチャ</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Shippori Mincho B1', serif;
            text-align: center;
            line-height: 0.5cm;
            color: gainsboro;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        h1 {
            font-weight: bold;
            font-size: 40px;
        }
        div {
            font-size: 18px;
        }
        .submit {
            background-color: black;
            border-radius: 12px;
            border: 2px solid white;
        }
        .text {
            color: black;
        }
        table {
            border-spacing: 0cm;
        }
        td {
            border: 1px solid white;
            padding: 8px;
        }
    </style>
</head>
<body bgcolor="black">
    <h1>CryptoCoin ガチャ</h1>
    <br>
    <div>
        Wallet Address : <%= address %>
    </div>
    <br>
    <div>
        Current wallet balance : <%= balance %>
    </div>
    <br>
    <div>
        <table align="center">
            <tr>
                <td>Reward</td>
                <td>Chance</td>
            </tr>
            <tr>
                <td>10% of total balance</td>
                <td>0.1% (0-999)</td>
            </tr>
            <tr>
                <td>1% of total balance</td>
                <td>6% (1000-60999)</td>
            </tr>
            <tr>
                <td>0.01 CRYPTO</td>
                <td>85% (61000-910999)</td>
            </tr>
            <tr>
                <td>0.001 CRYPTO</td>
                <td>8.9% (911000 - 1000000)</td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        Input your wallet <b>PRIMARY ADDRESS</b> in the textbox below
    </div>
    <br>
    <div>
        <form action="/do_gacha" method="POST">
            <input id="wallet_address" name="wallet_address" type="text" class="text" />
            <input name="submitBtn" type="submit" class="submit" value="Gacha!" />
        </form>
    </div>
    <br>
    <br>
    <div>
        Transaction history
        <br>
        <br>
        <table align="center">
            <tr>
                <td>Address</td>
                <td>Date</td>
                <td>txHash</td>
                <td>Amount</td>
            </tr>
            <% for(var i = 0; i < historyTx.length; i++) { %>
                <tr>
                    <td><%= historyTx[i].address %></td>
                    <td><%= historyTx[i].date %></td>
                    <td><%= historyTx[i].txHash %></td>
                    <td><%= historyTx[i].amount %> <%= ticker %></td>
                </tr>
            <% } %>
        </table>
    </div>
    <br>
    <br>
    <!-- leave this if possible -->
    <div>
        Code and Design by <a href="https://github.com/kuroineko23" target="_blank">kuroineko23</a>
    </div>
</body>
</html>
